::v-deep .swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear; /*之前是ease-out*/
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  margin: 0 auto;
}

$item-space: 60px;
$item-width: 400px;
$item-num: 7;
$start-position: 0px;
$end-position: -1400px - $item-num * $item-width - $item-num * $item-space;

.profile {
  height: 100vh;
  width: 100vw;
  background-color: #040000;
  overflow: hidden;
  position: relative;

  &-rotate {
    width: 100vw;
    position: absolute;
    top: -300px;
    left: -100px;
    transform: rotate(-15deg);
  }

  &-none {
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  &-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw * 926 / 1920);
    height: calc(100vh * 758 / 1080);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;
  }

  &-alert {
    text-align: center;
    width: 100%;
    margin-top: 16px;
    font-family: "PingFang SC";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.85);
  }

  &-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 414px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-avatar {
    background: white;
    width: 196px;
    height: 196px;
    box-sizing: border-box;
    border: 10px solid #ffffff;
    box-shadow: 0px 16.4294px 13.3px rgba(0, 0, 0, 0.34);
    margin: 0 auto;
    border-radius: 50%;
  }

  &-welcome {
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 0px 16.4294px 13.3px rgba(0, 0, 0, 0.34);
    margin-top: 40px;
    text-align: center;
  }

  &-name {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 0px 16.4294px 13.3px rgba(0, 0, 0, 0.34);
    margin-top: 12px;
    text-align: center;
  }
}

.banner {
  list-style-type: none;
  margin-bottom: 40px;
  animation: 8s reverseMove infinite linear;
  white-space: nowrap;
  font-size: 0;
  -webkit-animation: 8s reverseMove infinite linear;
  // animation-direction: alternate;
  &-item {
    width: $item-width;
    height: 400px;
    display: inline-block;
    overflow: hidden;
    border: 3px solid rgba(133, 141, 153, 0.35);
    box-sizing: border-box;
    border-radius: 26px;
    margin-right: $item-space;
  }
  &-image {
    width: 100%;
    height: 100%;
  }
}
.rev-list {
  animation: 20s reverseMove infinite linear;
  -webkit-animation: 20s reverseMove infinite linear;
  // animation-direction: alternate;
}
// @keyframes move {
//   0% {
//     transform: translateX($start-position);
//   }
//   100% {
//     transform: translateX($end-position);
//   }
// }

@keyframes reverseMove {
  0% {
    transform: translateX($end-position);
    -webkit-transform: translateX($end-position);
    -moz-transform: translateX($end-position);
    -ms-transform: translateX($end-position);
    -o-transform: translateX($end-position);
}
  100% {
    transform: translateX($start-position);
    -webkit-transform: translateX($start-position);
    -moz-transform: translateX($start-position);
    -ms-transform: translateX($start-position);
    -o-transform: translateX($start-position);
}
}
